<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script>
<!-- linking an image -->
    <!-- <img src="{{ url_for('static', filename='my_img.png') }}"> -->

</head>
<body>
    <header >
            welcome the loopi
    </header>
    <main>
        <div id="checker_board" >
        {% if flag == 0 %}
        {% if board !=None %}
            {% for i in range(0,boardy) %}
                {% for c in range(0,boardx) %}
                {% if i % 2==0%}
                <div class="red square" {{color}}></div>
                <div class="black square"></div>
                {% endif%}
                {% if i+1 % 2!=0%}
                <div class="black square"></div>
                <div class="red square"{{color}}></div>
                {% endif%}
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% endif %}
        {% if flag == 1 %}
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>

            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>

            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>

            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>

            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>

            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>

            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            <div class="black square"></div>
            <div class="red square"></div>
            {% endif %}
        </div>
    </main>



    
</body>
</html>